{% trans_default_domain 'FOSUserBundle' %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('task_index') }}">TaskPlanner by Monika Serafińska</a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
            <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
            <li class="active"><a href="{{ path('fos_user_profile_edit') }}">Edit</a></li>
        </ul>
    </div>
</nav>
        <div class="col-md-4 col-md-offset-4">

<div class="logo" align="center"><h3>Edit:</h3></div>
    <div class="login-form-1">
        <div class="login-form-main-message"></div>
            <div class="main-login-form">
                <div class="login-group">

                {{ form_start(form, {'attr': {'class': 'text-left'}}) }}
                {#{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}#}
                <div class="form-group">
                        {{ form_label(form.username, 'Username') }}
                        {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.username) }}
                </div>
                <div class="form-group">   
                        {{ form_label(form.email, 'Email') }}
                        {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.email) }}
                </div>
                <div class="form-group">
                        {{ form_label(form.current_password, 'Password') }}
                        {{ form_widget(form.current_password, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.current_password) }}
                    </div>
                {#{{ form_widget(form) }}#}
                </div>
                <div>
                    <input type="submit" class="btn btn-primary" value="{{ 'Save'|trans }}" />
                </div>
                {{ form_end(form) }}
                
            </div>
        </div>
    </div>
</div>
        
