{% trans_default_domain 'FOSUserBundle' %}

 
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('task_index') }}">TaskPlanner by Monika Serafińska</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{ path('task_index') }}">Tasks</a></li>
            <li><a href="{{ path('category_index') }}">Categories</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ path('fos_user_profile_edit') }}"><span class="glyphicon glyphicon-user"></span> {{ user }}</a></li>
            <li><a href="{{ path('fos_user_security_logout')}}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="fos_user_user_show">
        <p><b>{{ 'username'|trans }}</b>: {{ user.username }}</p>
        <p><b>{{ 'email'|trans }}</b>: {{ user.email }}</p>
    </div>
<div>
    
  
   {#<script>
       window.location.href = "http://127.0.0.1:8000/profile";
   </script>#}
   
