{% trans_default_domain 'FOSUserBundle' %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">TaskPlanner by Monika Serafińska</a>
        </div>

        <ul class="nav navbar-nav">
            <li class="active"><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
            <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
        </ul>
    </div>
</nav>


{#{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
#}

<div class="col-md-4 col-md-offset-4">

    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST">


        <div class="logo" align="center"><h3>Registration:</h3></div>
        <div class="login-form-1">
            <div class="login-form-main-message"></div>
            <div class="main-login-form">
                <div class="login-group">

                    {{ form_start(form, {'attr': {'class': 'text-left'}}) }}
                    <div class="form-group">   
                        {{ form_label(form.email, 'Email') }}
                        {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.email) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.username, 'Username') }}
                        {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.username) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.plainPassword.first, 'Password') }}
                        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.plainPassword.first) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.plainPassword.second, 'Confirm password') }}
                        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.plainPassword.second) }}
                    </div>

                    {{ form_rest(form) }}
                </div>


                <input class="btn btn-primary" type="submit" value="{{ 'Register'|trans }}">
            </div>
        </div>
</div>

