{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">TaskPlanner by Monika Serafińska</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ path('task_index') }}">All Tasks</a></li>
                <li><a href="{{ path('task_day') }}">Task for today</a></li>
                <li><a href="{{ path('category_index') }}">Categories</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('fos_user_profile_edit') }}"><span class="glyphicon glyphicon-user"></span> {{ user }}</a></li>
                <li><a href="{{ path('fos_user_security_logout')}}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">

        <div class="col-md-12">
           
            <table class="table">
                <tr>
                <div class="col-md-12">
                    <div class="form-inline">

                        {{ form_start(searchForm) }}
                        {{ form_widget(searchForm) }}
                        <input type="submit" value="Search" class="btn btn-primary"/>
                        {{ form_end(searchForm) }}
                    </div>
                </div>

                </tr>
            </table>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Deadline</th>
                        <th>Priority</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Attach</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                        <tr>

                            <td>{{ task.name }}</td>
                            <td>{{ task.description }}</td>
                            <td>{% if task.date %}{{ task.date|date('Y-m-d') }}{% endif %}</td>
                            <td>{% if task.deadline %}{{ task.deadline|date('Y-m-d') }}{% endif %}</td>
                            <td>{{ task.priority.name }}</td>
                            <td>{{ task.category.name }}</td>
                            <td>{{ task.status.name }}</td>
                            <td>{{ task.attach }}</td>
                            <td>
                                <a href="{{ path('task_show', { 'id': task.id }) }}" class="btn btn-primary">show</a>

                                <a href="{{ path('task_edit', { 'id': task.id }) }}" class="btn btn-primary">edit</a>

                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="col-md-4">
                <table class="table">
                    <tr>
                        <td>
                            <a href="{{ path('task_new') }}" class="btn btn-primary">Create a new task</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
